<h2 class="h2d">
  Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://scontent-mnl1-1.xx.fbcdn.net/v/t1.15752-9/384550374_1080449669638531_4147523246336165405_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeGotvaMFDuO45h2yBPJn6XfgPrWPVrQGiWA-tY9WtAaJU35KgQg0IDt5AjvF6jP8v2cumnLup8flOsVJJDSYMDq&_nc_ohc=w82NRO7GYW0AX8lZSEx&_nc_oc=AQk2pbAWK69I6gNRPIJeFQa3Qrpe8g1UX5BU5A-lzl-cF4Jrhtt4HcDWvF_ghGV6r5Q&_nc_ht=scontent-mnl1-1.xx&oh=03_AdS3cS5X9oe4xFCmgX4ZCl4rf0fhqRvV4pRTA3jvZvHOWw&oe=659D0644" alt="Audrey" style="width:98%; height: 20%;">
      <div class="container">
        <h2>Audrey Abigail Hizansa</h2>
        <p class="title">Designer</p>
        <p>PCH-1 Damilag Manolo Fortich Bukidnon</p>
        <p>audreyabigailhisanza@gmail.com</p>
        
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://scontent.fmnl7-1.fna.fbcdn.net/v/t1.15752-9/403396330_1133140644340712_1832685580326423189_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHpQWwK18udht7oQzmHxqspfkv0bA0QGcd-S_RsDRAZx1jXTRjFvcGzqsqFv-mYN_z1C2NxtNQvQJzSq7NeE25V&_nc_ohc=pMdvXzZdLnkAX9rF-ni&_nc_ht=scontent.fmnl7-1.fna&oh=03_AdQhbQcijeqi9LTVwZYqZ-aEBBvxYRTtQG_ok0OoueuDNg&oe=659D2777" alt="Mickel" style="width:99%; height: 110%;">
        <div class="container">
          <h2>Mickel Angelo Gaudicos</h2>
          <p class="title">Developer</p>
          <p>Z-2A San Miguel, Manolo Fortich, Bukidnon</p>
          <p>gaudicosmickelangelo@gmail.com</p>
          
        </div>
      </div>
    </div>