<div class="proj">

<div class="w3-third w3-container"> 
    <div class="w3-card">
      <header class="w3-container w3-light-grey" style="background-image: url(https://miro.medium.com/v2/resize:fit:640/format:webp/1*S5BFKzAhjXtva24jF79eGg.gif)">
        <h3 style="text-align: center;color: #DC143C;font-weight: bold;-webkit-text-stroke: 1px #fd6c9c;" >Bouncing balls</h3>
          </header>
          <div class="w3-container" style="background-image: url(https://miro.medium.com/v2/resize:fit:640/format:webp/1*S5BFKzAhjXtva24jF79eGg.gif); ">
           
           <br></br>
          <br></br>
           <br></br>
           <br></br>
           <br></br>
           <br></br>
            
        </div>
</div>
<h3>
 <p>To <span style="color:#DC143C">bouncing ball</span> </p> <a href="https://ripmickel.github.io/bouncing-ball/"><img class="w3-right w3-circle w3-margin-right" src="https://i.pinimg.com/originals/95/17/53/951753a4fb9bb0a0013a9badc2f7550e.gif" alt="link" width="29px" height="25px"></a>
       </h3>   
</div>